---
import { getCollection } from "astro:content";
import BaseHead from "../../../components/BaseHead.astro";
import PageLayout from "../../../layouts/PageLayout.astro";
import { BLOG_CATEGORIES } from "../../../consts";
import FormattedDate from "../../../components/FormattedDate.astro";
import ChevronRightIcon from "../../../components/svg/ChevronRightIcon.astro";

export async function getStaticPaths() {
  const categories = Object.keys(BLOG_CATEGORIES);

  // Generate a static path for each category
  return categories.map((category) => ({
    params: { category },
  }));
}

const { category } = Astro.params;

const categoryData = BLOG_CATEGORIES[category];

const posts = (await getCollection("blog")).filter((post) =>
  post.data.categories.includes(category),
);
---

<PageLayout>
  <BaseHead
    title={`Mohamed Yamani's ${categoryData.label} Articles`}
    description={`Explore articles on ${categoryData.label}, featuring insights, tutorials, and tips from Mohamed Yamani.`}
    slot="meta"
  />
  <section slot="main" class="py-10">
    <div class="mx-auto max-w-6xl px-6 sm:px-8">
      <div class="unset mb-10 flex items-center gap-4 font-lora text-xl sm:text-3xl">
        <a href="/blog/categories/" class="unset hover:underline">All Categories</a>
        <ChevronRightIcon width="20" height="20" />
        <a
          href={`/blog/categories/${categoryData.slug}/`}
          class="unset text-black hover:underline dark:text-white">
          {categoryData.label}
        </a>
      </div>
      <div class="grid justify-center gap-10 md:grid-cols-2 md:gap-x-4 md:gap-y-20">
        {
          posts.map((post) => {
            return (
              <article class="mb-3 rounded-md p-2">
                <a href={`/blog/${post.slug}/`} aria-label={`Read more about ${post.data.title}`}>
                  <img
                    width="552"
                    height="289"
                    src={post.data.thumbnail.url}
                    alt={post.data.thumbnail.alt}
                    loading="lazy"
                    class="max-w-full rounded-md"
                  />
                </a>
                <a
                  href={`/blog/${post.slug}/`}
                  aria-label={`Read more about ${post.data.title}`}
                  class="unset mt-2.5 inline-block font-semibold leading-snug transition hover:text-primary-main hover:underline lg:text-xl lg:leading-snug">
                  {post.data.title}
                </a>
                <FormattedDate
                  date={post.data.pubDate}
                  className="text-sm text-text-muted mt-1 block"
                />
                <ul class="unset mt-2 flex flex-wrap gap-x-2 gap-y-1">
                  {post.data.categories.map((category) => (
                    <li class="pl-0">
                      <a
                        href={`/blog/categories/${category}/`}
                        aria-label={`See all posts in the ${
                          BLOG_CATEGORIES[category].label ?? category
                        } category`}
                        class="unset rounded-full border border-primary-main px-4 py-1 text-xs font-bold transition hover:bg-primary-main hover:text-white">
                        {BLOG_CATEGORIES[category].label ?? category}
                      </a>
                    </li>
                  ))}
                </ul>
              </article>
            );
          })
        }
      </div>
    </div>
  </section>
</PageLayout>
