---
const SOCIAL_LINKS = [
  {
    text: "Twitter",
    link: "https://twitter.com/yamanidev"
  },
  {
    text: "LinkedIn",
    link: "https://www.linkedin.com/in/yamanidev/"
  },
  {
    text: "GitHub",
    link: "https://github.com/yamanidev"
  }
];

const WEBSITE_LINKS = [
  {
    text: "Home",
    link: "/"
  },
  {
    text: "Blog",
    link: "/blog/"
  },
  {
    text: "Contact",
    link: "/contact/"
  },
  {
    text: "RSS",
    link: `${Astro.site}rss.xml`
  }
];
---

<footer class="mt-auto border-t bg-neutral-50 py-20 dark:border-t-0 dark:bg-[#040C1A]">
  <div
    class="mx-auto flex max-w-6xl flex-col-reverse justify-between gap-10 px-6 sm:flex-row sm:px-8">
    <div class="text-center sm:text-left">
      <p class="leading-5">
        Copyright &copy; 2023 - {new Date().getFullYear()} Mohamed Yamani. All rights reserved.
      </p>
      <p class="mt-4 text-xs">
        All content of this website is distributed under the license
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">
          CC BY-NC-SA
        </a>
      </p>
    </div>
    <div class="flex justify-center gap-10">
      <ul class="unset">
        {
          WEBSITE_LINKS.map((websiteLink) => (
            <li class="p-0">
              <a href={websiteLink.link} class="unset hover:underline">
                {websiteLink.text}
              </a>
            </li>
          ))
        }
      </ul>
      <ul class="unset">
        {
          SOCIAL_LINKS.map((socialLink) => (
            <li class="p-0">
              <a
                href={socialLink.link}
                class="unset hover:underline"
                target="_blank"
                rel="noopener">
                {socialLink.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>
