---
import { getCollection } from "astro:content";
import BaseHead from "../../../components/BaseHead.astro";
import PageLayout from "../../../layouts/PageLayout.astro";
import { TAGS } from "../../../consts";
import FormattedDate from "../../../components/FormattedDate.astro";
import ChevronRightIcon from "../../../components/svg/ChevronRightIcon.astro";

export async function getStaticPaths() {
  const tags = Object.keys(TAGS);

  // Generate a static path for each tag
  return tags.map((tag) => ({
    params: { tag }
  }));
}

const { tag } = Astro.params;

const tagData = TAGS[tag];

const posts = (await getCollection("blog")).filter((post) => post.data.tags.includes(tag));
---

<PageLayout>
  <BaseHead
    title={`${tagData.label} Articles`}
    description={`Posts related to ${tagData.label}`}
    slot="meta"
  />
  <section slot="main" class="py-10">
    <div class="mx-auto max-w-6xl px-6 sm:px-8">
      <div class="unset mb-10 flex items-center gap-4 font-lora text-3xl font-bold">
        <a href="/blog/tags">All Tags</a>
        <ChevronRightIcon />
        <a href={`/blog/tags/${tagData.slug}`}>{tagData.label}</a>
      </div>
      <div class="grid justify-center gap-10 md:grid-cols-2 md:gap-x-4 md:gap-y-20">
        {
          posts.map((post) => {
            return (
              <article class="mb-3 rounded-md p-2">
                <a href={`/blog/${post.slug}`} aria-label={`Read more about ${post.data.title}`}>
                  <img
                    width="552"
                    height="289"
                    src={post.data.thumbnail.url}
                    alt={post.data.thumbnail.alt}
                    loading="lazy"
                    class="max-w-full rounded-md"
                  />
                </a>
                <a
                  href={`/blog/${post.slug}/`}
                  aria-label={`Read more about ${post.data.title}`}
                  class="unset mt-2.5 inline-block font-semibold leading-snug underline transition hover:text-primary-main lg:text-xl lg:leading-snug">
                  {post.data.title}
                </a>
                <FormattedDate
                  date={post.data.pubDate}
                  className="text-sm text-text-muted mt-1 block"
                />
                <ul class="unset mt-2 flex flex-wrap gap-x-2 gap-y-1">
                  {post.data.tags.map((tag) => (
                    <li class="pl-0">
                      <a
                        href={`/blog/tags/${tag}`}
                        aria-label={`See all posts tagged with ${TAGS[tag].label ?? tag}`}
                        class="unset rounded-full border border-primary-main px-4 py-1 text-xs font-bold transition hover:bg-primary-main hover:text-white">
                        {TAGS[tag].label ?? tag}
                      </a>
                    </li>
                  ))}
                </ul>
              </article>
            );
          })
        }
      </div>
    </div>
  </section>
</PageLayout>
