---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Favicon from './Favicon.astro';
import FontAwesome from './FontAwesome.astro';
import ThemeScript from './ThemeScript.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, image, imageAlt } = Astro.props;
---

<html class="theme-sleek" lang="en">
  <head>
    <Favicon />
    <ThemeScript />
    <FontAwesome />
    <BaseHead title={title} description={description} image={image} slot="meta" />
  </head>

  <body class="mx-auto min-h-screen max-w-3xl px-6 sm:px-8">
    <Header />
    <main id="main">
      <article class="blog-post prose prose-sleek max-w-none">
        <h1 class="m-0 mb-[0.25em]">{title}</h1>
        <FormattedDate date={pubDate} className="mb-4 block text-text-muted" />
        <img
          src={image}
          width="748"
          height="384"
          alt={imageAlt}
          class="m-0 mb-8 h-60 w-full rounded-md object-cover sm:h-96"
        />
        <slot name="content" />
      </article>
    </main>
    <style>
      body {
        display: grid;
        grid-template-areas:
          'header'
          'main';
        grid-template-rows: 5rem minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
      }
    </style>
  </body>
</html>
