---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Navbar from "../components/Navbar.astro";
import Favicon from "./Favicon.astro";
import ThemeScript from "./ThemeScript.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, thumbnail } = Astro.props;
---

<html class="theme-sleek" lang="en">
  <head>
    <Favicon />
    <ThemeScript />
    <BaseHead title={title} description={description} thumbnailUrl={thumbnail.url} slot="meta" />
  </head>

  <body>
    <Navbar />
    <main id="main" class="py-20">
      <div class="mx-auto min-h-screen max-w-3xl px-6 sm:px-8">
        <article class="blog-post prose prose-sleek max-w-none">
          <h1 class="m-0 mb-[0.25em]">{title}</h1>
          <FormattedDate date={pubDate} className="mb-4 block text-text-muted" />
          <figure class="mb-16">
            <img
              src={thumbnail.url}
              width="748"
              height="392"
              alt={thumbnail.alt}
              class="rounded-md object-cover"
            />
            {
              thumbnail.creditText && (
                <figcaption class="mt-1.5 text-center text-xs">
                  {thumbnail.creditLink ? (
                    <a
                      href={thumbnail.creditLink}
                      target="_blank"
                      rel="noreferrer"
                      class="unset not-prose">
                      {thumbnail.creditText}
                    </a>
                  ) : (
                    thumbnail.creditText
                  )}
                </figcaption>
              )
            }
          </figure>
          <slot name="content" />
        </article>
      </div>
    </main>
    <Footer />
  </body>
</html>
