---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Navbar from "../components/Navbar.astro";
import StayConnected from "../components/StayConnected.astro";
import ArrowLongLeft from "../components/svg/ArrowLongLeft.astro";
import ArrowLongRight from "../components/svg/ArrowLongRight.astro";
import ArrowPath from "../components/svg/ArrowPath.astro";
import CalendarDaysIcon from "../components/svg/CalendarDaysIcon.astro";
import { BLOG_CATEGORIES } from "../consts";
import Favicon from "./Favicon.astro";
import ThemeScript from "./ThemeScript.astro";

type Props = CollectionEntry<"blog">["data"] & {
  lastModified: string;
  nextPost?: CollectionEntry<"blog">;
  previousPost?: CollectionEntry<"blog">;
};

const { title, description, pubDate, lastModified, thumbnail, categories, previousPost, nextPost } =
  Astro.props;
---

<html class="theme" lang="en">
  <head>
    <Favicon />
    <ThemeScript />
    <BaseHead title={title} description={description} thumbnailUrl={thumbnail.url} slot="meta" />
  </head>

  <body>
    <Navbar />
    <main id="main" class="py-20">
      <div class="mx-auto max-w-5xl px-6">
        <a
          href="/blog/"
          class="unset group flex items-center gap-4 text-sm text-white hover:underline">
          <span>
            <ArrowLongLeft
              class="transform transition-transform duration-300 group-hover:-translate-x-1"
            />
          </span>
          <span>All blog articles</span>
        </a>
      </div>
      <div class="mx-auto mt-10 min-h-screen max-w-3xl px-6 sm:px-8">
        <article class="blog-post prose prose-theme max-w-none prose-img:mx-auto">
          <h1 class="m-0 mb-4">{title}</h1>
          <div class="space-y-1 text-sm">
            <div class="flex items-center gap-1">
              <CalendarDaysIcon width="20" height="20" />
              <span>Published:</span>
              <FormattedDate date={pubDate} />
            </div>
            <div class="flex items-center gap-1">
              <ArrowPath width="20" height="20" />
              <span>Last updated:</span>
              <FormattedDate date={new Date(lastModified)} />
            </div>
          </div>
          <ul class="unset not-prose mt-4 flex list-none flex-wrap gap-x-2 gap-y-1">
            {
              categories.map((category) => (
                <li>
                  <a
                    href={`/blog/categories/${category}/`}
                    aria-label={`See all posts in the ${
                      BLOG_CATEGORIES[category].label ?? category
                    } category`}
                    class="unset rounded-full border border-primary-main px-4 py-1 text-xs font-bold transition hover:bg-primary-main hover:text-white">
                    {BLOG_CATEGORIES[category].label ?? category}
                  </a>
                </li>
              ))
            }
          </ul>
          <figure class="mb-16">
            <img
              src={thumbnail.url}
              width="748"
              height="392"
              alt={thumbnail.alt}
              class="rounded-md object-cover"
            />
            {
              thumbnail.creditText && (
                <figcaption class="mt-1.5 text-center text-xs">
                  {thumbnail.creditLink ? (
                    <a
                      href={thumbnail.creditLink}
                      target="_blank"
                      rel="noreferrer"
                      class="unset not-prose underline">
                      {thumbnail.creditText}
                    </a>
                  ) : (
                    thumbnail.creditText
                  )}
                </figcaption>
              )
            }
          </figure>
          <slot name="content" />
        </article>
        <hr class="my-10" />
        <div
          class="mx-auto flex max-w-sm flex-col items-center gap-4 text-center sm:flex-row sm:text-left">
          <img
            src="/images/mohamed-yamani.jpg"
            alt="Mohamed Yamani (yamanidev) smiling"
            class="h-20 w-20 flex-shrink-0 rounded-full object-cover"
          />
          <div>
            <h6 class="leading-tight text-white">Written by Mohamed Yamani</h6>
            <p class="mt-2 text-xs">
              Software engineer sharing the craft, personal insights, and my journey.
            </p>
          </div>
        </div>
        <StayConnected className="mt-16 px-6 sm:px-8" />
      </div>
      <div
        class="mx-auto mt-10 flex max-w-5xl flex-col justify-between gap-x-4 gap-y-6 px-6 text-xs md:flex-row">
        {
          previousPost && (
            <a
              href={`/blog/${previousPost.slug}/`}
              class="unset group flex max-w-sm items-center gap-4 hover:underline">
              <span>
                <ArrowLongLeft class="transform transition-transform duration-300 group-hover:-translate-x-1" />
              </span>
              <span>
                <strong>Previous:</strong> {previousPost.data.title}
              </span>
            </a>
          )
        }
        {
          nextPost && (
            <a
              href={`/blog/${nextPost.slug}/`}
              class="unset group ml-auto flex max-w-sm items-center gap-4 text-right hover:underline">
              <span>
                <strong>Next:</strong> {nextPost.data.title}
              </span>
              <span>
                <ArrowLongRight class="transform transition-transform duration-300 group-hover:translate-x-1" />
              </span>
            </a>
          )
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
